/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
}

.selector {
    background-image: url("assets/background.png");
    background-size: cover;
}